/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: #022340;
    display: flex;
    flex-direction: column;
}
header, .hero, nav a, footer {
    color: #f9faf8;
}

.logo {
    font-weight: 900;
    font-size: 50px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 700;
}

.secondary-text {
    font-size: 18px;
}
.inspiration {
    background-color: #e5e7eb;
}

.gallery, .call-to-action {
    background-color: #fff;
}

section {
    height: 250px;
}

header {
    display: flex;
    justify-content: space-between;
  }

  nav li{
      list-style: none;
      text-decoration: none;
  }

  nav a{
      text-decoration: none;
  }
