/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;0,900;1,100&display=swap');

*, ::after, ::before {
    box-sizing:border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #022340;
    display: flex;
    flex-direction: column;
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    padding: 0 50px 100px;
  }

section, footer {
    padding: 0 50px;
}

header, .hero, nav a, footer {
    color: #f9faf8;
}

.logo {
    font-weight: 900;
    font-size: 50px;
    margin: 12px 0 0;
}
    
.left-col h1 {
    font-size: 48px;
    font-weight: 700;
    margin: 0;
    text-align: left;
    padding: 0;
}

.secondary-text {
    font-size: 18px;
    color: #e5e7eb;
}

.inspiration {
    background-color: #e5e7eb;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gallery, .call-to-action {
    background-color: #fff;
    padding: 30px;
}

section {
    min-height: 350px;
}

  nav li{
    list-style: none;
    text-decoration: none;
    display: inline-block;
    margin-right: 10px;
  }

  nav {
      margin-top: 25px;
  }

  nav a{
    text-decoration: none;
  }

.hero {
    display: flex;
    justify-content: space-between;
}

.hero figure {
    background-color: gray;
    width: 580px;
    height: 252px;
    margin: 0;
  }

.left-col {
    width: 450px;
}

.hero button {
    background-color: #3882f6;
    border-radius: 8px;
    border: none;
    color: #fff;
    padding: 5px 28px 8px;
    font-size: 20px;
    cursor: pointer;
}

p.hero-img {
    text-align: center;
}

.gallery-wrapper {
    display: flex;
    justify-content: center;
    padding-top: 10px;
}

.gallery-wrapper figure {
    width: 150px;
}

.gallery-wrapper figure span {
    border: #3882f6 solid 3px;
    border-radius: 10px;
    padding: 10px;
    width: 150px;
    height: 150px;
    display: block;
}

h1 {
    text-align: center;
    margin: auto;
    padding: 20px 0;
    font-size: 38px;
    font-weight: 700;

  }

  figcaption {
      padding: 5px;
  }

  blockquote p {
      font-size: 36px;
      font-style: italic;
      width: 700px;
      margin: auto;
  }

  blockquote footer {
    padding: 0;
  }

  .inspiration footer p {
      color: #000;
      text-align: right;
      font-style: normal;
      font-weight: 400;
      font-size: 24px;
  }

  .call-to-action {
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
  .c-t-a-wrapper {
      background-color: #3882f6;
      border-radius: 10px;
      height: 200px;
      width: 860px;
      padding: 30px 50px;
      margin: auto;
      display: flex;
      justify-content: space-around;
  }

.c-t-a-wrapper .left-col > :first-child {
    font-size: 36px;
    margin-bottom: 0;
}

.c-t-a-wrapper button {
    width: 120px;
    height: 40px;
    border: solid 2px #fff;
    border-radius: 5px;
    background-color: #3882f2;
    color: #fff;
    margin-top: 50px;
}